.about {
    position: fixed;
    bottom: 100px;
    left: 100px;
    right: 100px;
    text-align: right;
    color: var(--color);
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 300;
    opacity: 0;
    transition: color 1s;
    animation: revealAbout 1s forwards;
}

@keyframes revealAbout {
    to {
        opacity: 1;
    }
}

@media screen and (width < 1000px) {
    .about {
        bottom: 50px;
        left: 50px;
        right: 50px;
    }
}
