.about-title {
  text-align: right;
  color: var(--color);
  font-weight: 200;
  position: fixed;
  bottom: 75px;
  left: 75px;
  right: 75px;
  opacity: 0;
  margin: 0;
  transition: color 1s;
  animation: revealAboutSection 1s forwards;
}

@keyframes revealAboutSection {
  to {
    opacity: 1;
  }
}

@media screen and (width < 1000px) {
  .about-title {
    bottom: 50px;
    left: 50px;
    right: 50px;
  }
}
