.scroll__up-btn {
    position: fixed;
    right: 50px;
    top: 45%;
    font-size: 1.5rem;
    color: var(--txt-clr);
    opacity: 0;
    animation: revealUpBtn 1s forwards;
}

@keyframes revealUpBtn {
    to {
        top: 40%;
        opacity: 1;
    }
}

.scroll__down-btn {
    position: fixed;
    right: 50px;
    bottom: 45%;
    font-size: 1.5rem;
    color: var(--txt-clr);
    opacity: 0;
    animation: revealDownBtn 1s forwards;
}

@keyframes revealDownBtn {
    to {
        bottom: 40%;
        opacity: 1;
    }
}

@media (max-width: 1000px) {
    .scroll__up-btn,
    .scroll__down-btn {
        display: none;
    }
}
