.project-container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    opacity: 0;
}

.project-container:nth-of-type(1) {
    animation: reveal 0.5s forwards;
}

.project-container:nth-of-type(2) {
    animation: reveal 0.5s 0.1s forwards;
}

.project-container:nth-of-type(3) {
    animation: reveal 0.5s 0.2s forwards;
}

.project-container:nth-of-type(4) {
    animation: reveal 0.5s 0.3s forwards;
}

.project-container:nth-of-type(5) {
    animation: reveal 0.5s 0.4s forwards;
}

.project-container:nth-of-type(6) {
    animation: reveal 0.5s 0.5s forwards;
}

@keyframes reveal {
    to {
        opacity: 1;
    }
}

.project-number {
    font-size: 36px;
    font-weight: 300;
    color: var(--color);
}

.project-info-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.project-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.project-title-name {
    font-family: inherit;
    font-size: 36px;
    font-weight: 300;
    color: var(--color);
}

.project-title {
    color: var(--color);
    font-weight: 200;
    font-size: clamp(12px, 2vw, 16px);
}

.project-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    color: var(--color);
}

.project-links {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.project-links a {
    color: var(--color);
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 300;
    transition: opacity 0.2s;
}

.project-links a:hover {
    opacity: 0.5;
}

/* hide liveDemo in first portfolio */
.inactive-link {
    display: none;
}

.project-arrow {
    font-size: clamp(16px, 2vw, 20px);
    vertical-align: middle;
}

@media screen and (width < 1100px) {
    .project-number {
        font-size: 28px;
    }
    .project-title-container {
        flex-direction: column-reverse;
        align-items: end;
        column-gap: 0;
    }

    .project-title-name {
        font-size: 28px;
    }
}
