.project-container {
  position: relative;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-number {
  font-weight: 200;
  margin: 0;
  font-size: 36px;
  color: var(--color);
  transition: color 1s;
}

.project-info-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.project-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.project-title {
  font-family: inherit;
  margin: 0;
  font-size: 36px;
  font-weight: 200;
  color: var(--color);
  transition: color 1s;
}

.project-title-name {
  margin: 0;
  color: var(--semi-transparent-color);
  font-weight: 300;
  font-size: clamp(12px, 2vw, 16px);
  transition: color 1s;
}

.project-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.project-links-container a {
  color: var(--semi-transparent-color);
  text-decoration: none;
  transition: color 0.2s;
  font-size: clamp(12px, 2vw, 16px);
}

.project-links-container a:hover {
  color: var(--color);
}
