@import "./../../mixins";

.dark-mode-container {
    position: fixed;
    top: 50px;
    right: -50px;
    bottom: 50px;
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
    z-index: 2;
    @include glass-effect;
    animation: revealDarkModeContainer 1s forwards;
}

@keyframes revealDarkModeContainer {
    to {
        right: 0;
    }
}

.dark-mode-btn {
    color: var(--color);
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 300;
    transition: opacity 0.15s;
}

@media (max-width: 1000px) {
    .dark-mode-container {
        top: 25px;
        right: -25px;
        bottom: 25px;
        width: 25px;
    }
}
