.burger-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.burger-title {
  text-orientation: upright;
  writing-mode: vertical-lr;
  margin: 0;
  font-size: clamp(12px, 2vw, 16px);
  color: var(--color);
  transition: color 1s;
}

.burger-btn {
  width: 20px;
  height: 0;
  cursor: crosshair;
  padding: 10px 0;
}

.burger-btn::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: var(--color);
  transform: translateY(-5px);
  transition: transform 0.3s 0.5s, background-color 1s;
}

.burger-btn::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: var(--color);
  transform: translateY(5px);
  transition: transform 0.3s 0.5s, background-color 1s;
}

.active-burger-btn::before {
  transform: translateY(0) rotate(-45deg);
}

.active-burger-btn::after {
  transform: translateY(0) rotate(45deg);
}

@media screen and (width > 1000px) {
  .burger-container {
    display: none;
  }
}
