.mail-tel-container {
    position: fixed;
    top: 100px;
    right: 100px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    row-gap: 50px;
}

.mail-tel-container span {
    font-size: 16px;
    font-weight: 300;
    color: var(--color);
}

.mail-container,
.tel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.mail-link,
.tel-link,
.mail-copy-btn,
.tel-copy-btn {
    font-size: 16px;
    color: var(--color);
    font-weight: 300;
}

.mail-copy-btn .dublicate,
.tel-copy-btn .dublicate {
    display: none;
}

.socials-list {
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(50% - 100px);
}

.socials-list li {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
}

.socials-list a {
    font-size: clamp(20px, 3vw, 24px);
    color: var(--color);
    overflow: hidden;
}

@keyframes revealSocialIcon {
    to {
        grid-template-rows: 1fr;
    }
}

@media screen and (width < 1000px) {
    .mail-tel-container {
        top: 50px;
        right: 50px;
        row-gap: 25px;
    }
    .socials-list {
        bottom: 50px;
        left: 50px;
        right: 50px;
        width: calc(100% - 100px);
    }
}
