.text-line-container {
    overflow: hidden;
    display: inline-block;
}

.text-line {
    transform: translateY(100%);
}

@keyframes revealTextLine {
    to {
        transform: translateY(0);
    }
}
