.email-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  opacity: 0;
  animation: revealEmailContainer 1s forwards;
  font-size: clamp(18px, 3vw, 36px);
  transition: color 1s;
  color: var(--color);
}

@keyframes revealEmailContainer {
  to {
    opacity: 1;
  }
}

.email-input {
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: crosshair;
  font-size: clamp(18px, 3vw, 36px);
  padding: 0;
  color: var(--color);
  transition: color 1s;
  font-weight: 110;
}

.email-copy-btn {
  font-family: inherit;
  border: none;
  background: transparent;
  color: var(--color);
  cursor: crosshair;
  padding: 0;
  font-weight: 200;
  font-size: clamp(18px, 3vw, 36px);
  transition: color 1s;
}

/* SOCIALS CONTAINER */

.socials-container {
  position: fixed;
  bottom: 75px;
  top: 75px;
  right: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  z-index: 150;
  opacity: 0;
  animation: revealSocialsContainer 1s forwards;
}

@keyframes revealSocialsContainer {
  to {
    opacity: 1;
  }
}

.socials-container a {
  color: var(--color);
  transition: color 1s;
  cursor: crosshair;
}

@media screen and (width < 1000px) {
  .socials-container {
    top: auto;
    bottom: 50px;
    right: 50px;
    left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
  }
}
