.email-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  opacity: 0;
  animation: revealEmailContainer 1s forwards;
  font-size: clamp(18px, 3vw, 36px);
  transition: color 1s;
  color: var(--color);
}

@keyframes revealEmailContainer {
  to {
    opacity: 1;
  }
}

.email-input {
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: clamp(18px, 3vw, 36px);
  padding: 0;
  color: var(--color);
  transition: color 1s;
  font-weight: 200;
}

.email-copy-btn {
  font-family: inherit;
  border: none;
  background: transparent;
  color: var(--color);
  cursor: pointer;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: 200;
  font-size: clamp(18px, 3vw, 36px);
  transition: color 1s;
}

/* SOCIALS CONTAINER */

.socials-container {
  position: absolute;
  top: 50%;
  right: -27px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  font-size: 24px;
  z-index: 100;
  animation: revealSocialsContainer 1s forwards;
}

@keyframes revealSocialsContainer {
  to {
    right: 50px;
  }
}

.socials-container a {
  color: var(--color);
  transition: color 1s;
}

@media screen and (width < 1000px) {
  .contact-section {
    height: 25px;
  }

  @keyframes revealSocialsContainer {
    to {
      right: 25px;
    }
  }
}
