.home-container {
    position: fixed;
    right: 100px;
    bottom: 100px;
    text-align: right;
    opacity: 0;
    z-index: 1;
    animation: reveal 0.5s forwards;
}

@keyframes reveal {
    to {
        opacity: 1;
    }
}

.home-container__title {
    font-size: clamp(16px, 3vw, 32px);
    font-weight: 200;
    color: var(--color);
}

.home-container__title-name {
    font-size: clamp(32px, 5vw, 64px);
    font-weight: 300;
    color: var(--color);
}

@media screen and (width < 1000px) {
    .home-container {
        bottom: 50px;
        right: 50px;
    }
}
