.home-section {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color);
  margin: 0;
  z-index: 101;
  opacity: 0;
  transition: color 1s;
  animation: revealHomeSection 1s forwards;
}

@keyframes revealHomeSection {
  to {
    opacity: 1;
  }
}

.home-title {
  position: fixed;
  top: 75px;
  left: 75px;
  font-size: clamp(30px, 6vw, 60px);
  font-weight: 300;
  margin: 0;
  /* line-height: clamp(25px, 5vw, 50px); */
  transition: all 1s;
  opacity: 0;
  animation: showMainInfo 1s forwards;
  color: var(--color);
}

@keyframes showMainInfo {
  to {
    opacity: 1;
  }
}

.home-title span {
  font-size: clamp(16px, 3vw, 30px);
  font-weight: 100;
}

@media screen and (width < 1000px) {
  .home-section {
    height: 25px;
  }
  .home-title {
    top: 50px;
    left: 50px;
  }
}
