@import "./../../mixins";

.project-page {
    position: fixed;
    @include top-right-bottom-left(50px, 50px, 50px, 50px);
    z-index: 1;
    @include flex-center;
}

.frame {
    width: 50%;
}

.project-page__close-btn {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 24px;
    color: var(--color);
    transition: opacity 150ms;
}

.project-page__close-btn:hover {
    opacity: 0.5;
}

.github-link {
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: var(--color);
    transition: color 150ms;
}

.github-link:hover {
    color: var(--semi-tp-50);
}

.livesite-link {
    position: absolute;
    bottom: 100px;
    right: 50px;
    color: var(--color);
    transition: color 150ms;
}

.livesite-link:hover {
    color: var(--semi-tp-50);
}

/* Hide Live demo in first project */
.link--none {
    display: none;
}

@media (max-width: 1000px) {
    .project-page {
        @include top-right-bottom-left(25px, 25px, 25px, 25px);
    }

    .project-page__close-btn {
        top: 25px;
        right: 25px;
    }

    .frame {
        width: 75%;
    }
}
