@use "./../../mixins" as *;

.none {
    display: none;
}

.project-page {
    position: fixed;
    @include top-right-bottom-left(100px, 100px, 100px, 100px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    animation: revealProjectPage 1s forwards;
}

@keyframes revealProjectPage {
    to {
        opacity: 1;
    }
}

.project-page__back-btn {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--txt-clr);
    transition: opacity 150ms;

    &:hover {
        opacity: 0.5;
    }
}

.project-page__details {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 25px;
}

.project-page__links {
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    a {
        font-weight: 300;
        color: var(--txt-clr);
        transition: opacity 150ms;

        &:hover {
            opacity: 0.5;
        }
    }
}

.project-page__title-desc {
    color: var(--semi-tp-50);
    font-weight: 300;
}

.project-page__title {
    color: var(--txt-clr);
    font-size: clamp(2rem, 4vw, 3rem);
    font-weight: 300;
}

.project-page__video,
.project-page__img {
    width: clamp(450px, 45vw, 50%);
    border: 5px solid var(--semi-tp-10);
}

@media (max-width: 1000px) {
    .project-page {
        @include top-right-bottom-left(50px, 50px, 50px, 50px);
    }
}

@media (max-width: 550px) {
    .project-page__video,
    .project-page__img {
        width: 100%;
    }
}
