.corner-top-left {
    position: fixed;
    top: 50px;
    left: 50px;
    width: 0;
    aspect-ratio: 1 / 1;
    border-top: 5px solid var(--color);
    border-left: 5px solid var(--color);
    pointer-events: none;
    opacity: 0;
    z-index: 2;
    animation: revealCorner 1s forwards;
}

.corner-top-right {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 0;
    aspect-ratio: 1 / 1;
    border-top: 5px solid var(--color);
    border-right: 5px solid var(--color);
    pointer-events: none;
    opacity: 0;
    z-index: 2;
    animation: revealCorner 1s forwards;
}

.corner-bottom-right {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 0;
    aspect-ratio: 1 / 1;
    border-bottom: 5px solid var(--color);
    border-right: 5px solid var(--color);
    pointer-events: none;
    opacity: 0;
    z-index: 2;
    animation: revealCorner 1s forwards;
}

.corner-bottom-left {
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 0;
    aspect-ratio: 1 / 1;
    border-bottom: 5px solid var(--color);
    border-left: 5px solid var(--color);
    pointer-events: none;
    opacity: 0;
    z-index: 2;
    animation: revealCorner 1s forwards;
}

@keyframes revealCorner {
    to {
        width: 100px;
        opacity: 1;
    }
}

@media screen and (width < 1000px) {
    .corner-top-left {
        top: 25px;
        left: 25px;
    }

    .corner-top-right {
        top: 25px;
        right: 25px;
    }

    .corner-bottom-right {
        bottom: 25px;
        right: 25px;
    }

    .corner-bottom-left {
        bottom: 25px;
        left: 25px;
    }

    @keyframes revealCorner {
        to {
            width: 50px;
            opacity: 1;
        }
    }
}
