@import "./../../mixins";

.nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -25%;
    z-index: 3;
    width: 25%;
    padding-left: 50px;
    @include glass-effect;
    transition: transform 0.5s ease, backdrop-filter 0.5s ease;
    animation: revealNav 1s forwards;
}

@keyframes revealNav {
    to {
        left: calc(-25% + 50px);
    }
}

/* Works only on mouse devices */
.nav--hover {
    transform: translateX(calc(100% - 50px));
}

/* Works only on touch devices */
.nav--active {
    transform: translateX(calc(100% - 25px));
}

.nav__header {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    text-align: center;
}

.nav__header-logo {
    font-size: clamp(12px, 3vw, 18px);
    font-weight: 300;
    color: var(--color);
}

.nav__list {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav__link {
    display: inline-block;
    font-weight: 500;
    margin: 5px 0;
    background-color: var(--color);
    width: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s;
}

.nav__link--active {
    width: 100%;
}

.nav__link {
    span {
        background-color: var(--semi-tp-50);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.nav__link-extra-font {
    font-family: "Silkscreen", sans-serif;
}

.nav__footer {
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 50px;
}

.nav__footer-list {
    @include flex-center;
    column-gap: 25px;
}

.nav__footer-list {
    a {
        color: var(--semi-tp-50);
        font-size: 20px;
        transition: all 150ms;
    }
}

.nav__footer-list {
    a:hover {
        color: var(--color);
    }
}

@media (max-width: 1000px) {
    .nav {
        width: 50%;
        left: -50%;
        padding-left: 25px;
    }

    @keyframes revealNav {
        to {
            left: calc(-50% + 25px);
        }
    }

    .nav--hover {
        transform: translateX(calc(100% - 25px));
    }

    .nav__header {
        top: 25px;
        left: 25px;
        right: 25px;
    }

    .nav__footer {
        bottom: 25px;
        left: 25px;
        right: 25px;
    }
}
