.nav {
    position: fixed;
    left: -160.1px;
    top: 50px;
    bottom: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*  */
    width: auto;
    /*  */
    padding-left: 50px;
    z-index: 3;
    animation: revealNav 1s forwards;
}

@keyframes revealNav {
    to {
        left: 0;
    }
}

.nav__header {
    display: none;
}

.nav__link {
    display: inline-block;
    font-weight: 500;
    margin: 5px 0;
    background-color: var(--color);
    width: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: width 0.5s, letter-spacing 0.5s;
}

.nav__link--active {
    width: 100%;
}

.nav__link span {
    background-color: var(--semi-transparent-50);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-link-font {
    font-family: "Silkscreen", sans-serif;
}

.nav__footer {
    display: none;
}

@media screen and (width < 1000px) {
    .nav {
        top: 0;
        bottom: 0;
        left: -50%;
        width: 50%;
        padding-left: 25px;
        backdrop-filter: blur(0);
        -webkit-backdrop-filter: blur(0);
        transition: all 0.5s ease;
    }

    @keyframes revealNav {
        to {
            left: calc(-50% + 25px);
        }
    }

    .nav--active {
        transform: translateX(calc(100% - 25px));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .nav__header {
        display: initial;
        position: absolute;
        top: 25px;
        left: 25px;
        right: 25px;
        text-align: center;
    }

    .nav__logo-title {
        font-size: clamp(16px, 3vw, 20px);
        font-weight: 300;
        color: var(--color);
    }

    .nav__logo-title span {
        font-weight: 100;
    }

    .nav__footer {
        display: initial;
        position: absolute;
        bottom: 25px;
        left: 25px;
        right: 25px;
    }

    .nav__footer-list {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
    }

    .nav__footer-list a {
        color: var(--semi-transparent-50);
        font-size: 20px;
        transition: all 0.15s;
    }

    .nav__footer-list a:hover {
        color: var(--color);
    }
}
