.nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -25%;
    z-index: 3;
    width: 25%;
    padding-left: 50px;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
    background-color: var(--bg-semi-tp-50);
    transition: transform 0.5s ease, backdrop-filter 0.5s ease;
    animation: revealNav 1s forwards;
}

@keyframes revealNav {
    to {
        left: calc(-25% + 50px);
    }
}

.nav--hover {
    transform: translateX(calc(100% - 50px));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/* Works only on touch devices */
.nav--active {
    transform: translateX(calc(100% - 25px));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.nav__header {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    text-align: center;
}

.nav__header-logo {
    font-size: clamp(12px, 3vw, 16px);
    font-weight: 300;
    color: var(--color);
}

.nav__header-logo span {
    font-weight: 100;
}

.nav__list {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav__link {
    display: inline-block;
    font-weight: 500;
    margin: 5px 0;
    background-color: var(--color);
    width: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s;
}

.nav__link--active {
    width: 100%;
}

.nav__link span {
    background-color: var(--semi-tp-50);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav__link-extra-font {
    font-family: "Silkscreen", sans-serif;
}

.nav__footer {
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 50px;
}

.nav__footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.nav__footer-list a {
    color: var(--semi-tp-50);
    font-size: 20px;
    transition: all 0.15s;
}

.nav__footer-list a:hover {
    color: var(--color);
}

@media screen and (width < 1000px) {
    .nav {
        width: 50%;
        left: -50%;
        padding-left: 25px;
    }

    @keyframes revealNav {
        to {
            left: calc(-50% + 25px);
        }
    }

    .nav--hover {
        transform: translateX(calc(100% - 25px));
    }

    .nav__header {
        top: 25px;
        left: 25px;
        right: 25px;
    }

    .nav__footer {
        bottom: 25px;
        left: 25px;
        right: 25px;
    }
}
