.game-one {
    position: fixed;
    top: 100px;
    right: 100px;
    bottom: 100px;
    width: calc(50% - 100px);
    font-family: "Silkscreen", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    z-index: 1;
    animation: reveal 1s forwards;
}

.game-one__back-btn {
    align-self: flex-start;
    color: var(--color);
}

.game-one__title-result {
    color: var(--color);
    font-size: 1.5rem;
}

.game-one__lives {
    color: var(--color);
}

section {
    display: grid;
    grid-template: repeat(4, 5rem) / repeat(4, 5rem);
    gap: 10px;
    perspective: 800px;
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.face {
    position: absolute;
    width: 50%;
    height: 50%;
    pointer-events: none;
    transform: rotateY(-180deg);
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    backface-visibility: hidden;
    pointer-events: none;
}

.card-top-left-corner {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-top: 5px solid black;
    border-left: 5px solid black;
}

.card-top-right-corner {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    border-top: 5px solid black;
    border-right: 5px solid black;
}

.card-bottom-right-corner {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

.card-bottom-left-corner {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

.toggle-card {
    transform: rotateY(180deg);
}

.inactive {
    pointer-events: none;
}

.game-one__btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.game-one__btn {
    position: relative;
    color: var(--color);
    padding: 10px 20px;
}

.game-one__btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border-top: 2.5px solid var(--color);
    border-left: 2.5px solid var(--color);
    transition: width 0.3s, height 0.3s;
}

.game-one__btn::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    border-right: 2.5px solid var(--color);
    border-bottom: 2.5px solid var(--color);
    transition: width 0.3s, height 0.3s;
}

.game-one__btn:hover::before,
.game-one__btn:hover::after {
    width: 100%;
    height: 100%;
}

.game-one__btn--inactive {
    opacity: 0.5;
}

.none {
    display: none !important;
}

.rotate-container {
    position: absolute;
    top: 100px;
    right: 100px;
    bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    width: calc(50% - 100px);
    opacity: 0;
    z-index: 1;
    animation: reveal 1s forwards;
}

@keyframes reveal {
    to {
        opacity: 1;
    }
}

.rotate-font-img {
    font-size: 72px;
    color: var(--color);
}

.rotate-title {
    color: var(--color);
    font-weight: 300;
    text-align: center;
}

@media screen and (width < 1000px) {
    .game-one {
        top: 50px;
        right: 50px;
        bottom: 50px;
        left: 50px;
        width: calc(100% - 100px);
    }

    section {
        grid-template: repeat(4, 4rem) / repeat(4, 4rem);
    }

    .rotate-container {
        top: 50px;
        right: 50px;
        bottom: 50px;
        left: 50px;
        width: calc(100% - 100px);
    }
}
