.reveal-cube-container {
    opacity: 0;
    animation: revealCubeContainer 1s 1s forwards;
}

@keyframes revealCubeContainer {
    to {
        opacity: 1;
    }
}

.cube-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
    animation: moveCubeContainer 10s infinite linear;
}

@keyframes moveCubeContainer {
    50% {
        transform: translate(-50%, calc(-50% - 15px));
    }
}

.cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotateCube 20s infinite linear;
}

@keyframes rotateCube {
    100% {
        transform: rotateX(0) rotateY(-360deg);
    }
}

.side {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid var(--color);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform-style: preserve-3d;
}

.side p {
    font-size: clamp(10px, 1vw, 12px);
    font-weight: 300;
    backface-visibility: hidden;
}

.side span {
    font-weight: 100;
}

.side-front {
    transform: translateZ(100px);
}

.side-back {
    transform: rotateX(180deg) rotate(180deg) translateZ(100px);
}

.side-top {
    transform: rotateX(90deg) translateZ(100px);
}

.side-bottom {
    transform: rotateX(-90deg) translateZ(100px);
}

.side-left {
    transform: rotateY(-90deg) translateZ(100px);
}

.side-right {
    transform: rotateY(90deg) translateZ(100px);
}

.cube-shadow {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 55px;
    width: 200px;
    height: 40px;
    background-color: var(--semi-transparent-10);
    border-radius: 50%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    animation: moveCubeShadow 10s infinite linear;
}

@keyframes moveCubeShadow {
    50% {
        width: 150px;
        height: 30px;
    }
}

@media (max-width: 1000px) {
    .cube-container {
        perspective: 500px;
    }

    .cube {
        width: 100px;
        height: 100px;
    }

    .side {
        width: 100px;
        height: 100px;
    }

    .side-front {
        transform: translateZ(50px);
    }

    .side-back {
        transform: rotateX(180deg) rotate(180deg) translateZ(50px);
    }

    .side-top {
        transform: rotateX(90deg) translateZ(50px);
    }

    .side-bottom {
        transform: rotateX(-90deg) translateZ(50px);
    }

    .side-left {
        transform: rotateY(-90deg) translateZ(50px);
    }

    .side-right {
        transform: rotateY(90deg) translateZ(50px);
    }

    .cube-shadow {
        width: 100px;
        bottom: 30px;
    }

    @keyframes moveCubeShadow {
        50% {
            width: 75px;
        }
    }
}
