@use "./../../mixins" as *;
@use "./../../global/InfiniteScroller.scss";

.home {
    position: fixed;
    @include top-right-bottom-left("", "", 100px, "");
    width: 100%;
}

.home__title {
    font-size: clamp(72px, 8vw, 96px);
    color: var(--txt-clr);
    font-weight: 300;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
}

.home__title span {
    opacity: 0;
}

@keyframes revealChar {
    to {
        opacity: 1;
    }
}

@media (max-width: 1000px) {
    .home {
        @include top-right-bottom-left("", "", 50px, "");
    }
}
