.home-container {
    position: fixed;
    right: 100px;
    bottom: 100px;
    text-align: right;
    z-index: 1;
}

.home-container__title {
    font-size: clamp(18px, 3vw, 36px);
    font-weight: 100;
    color: var(--color);
}

.home-container__title-name {
    font-size: clamp(32px, 5vw, 64px);
    font-weight: 300;
    color: var(--color);
}

@media screen and (width < 1000px) {
    .home-container {
        bottom: 50px;
        right: 50px;
    }
}
