.home-section {
    position: fixed;
    right: 100px;
    bottom: 100px;
    text-align: right;
    z-index: 1;
}

.home-section__title {
    font-size: clamp(12px, 5vw, 36px);
    font-weight: 100;
    color: var(--color);
}

.home-section__title-name {
    font-size: clamp(24px, 8vw, 64px);
    font-weight: 300;
    color: var(--color);
}

@media screen and (width < 1000px) {
    .home-section {
        bottom: 50px;
        right: 50px;
    }
}

@media screen and (width < 360px) {
    .home-section__title {
        /* font-size: clamp(12px, 5vw, 36px); */
        font-size: 5vw;
    }

    .home-section__title-name {
        /* font-size: clamp(24px, 8vw, 64px); */
        font-size: 8vw;
    }
}
