@use "./../../mixins" as *;

.footer {
    position: fixed;
    right: 50px;
    bottom: -50px;
    left: 50px;
    z-index: 1;
    @include flex-between;
    height: 50px;
    @include glass-effect;
    background: var(--bg-semi-tp-50);
    transition: background-color 0.3s;
    animation: revealFooter 1s forwards;
}

@keyframes revealFooter {
    to {
        bottom: 0;
    }
}

.copyright,
.privacy {
    font-size: clamp(12px, 1.5vw, 16px);
    font-weight: 300;
    color: var(--semi-tp-50);
}

@media (max-width: 1000px) {
    .footer {
        right: 25px;
        bottom: -25px;
        left: 25px;
        height: 25px;
    }
}
