@import "./../../mixins";

.footer {
    position: fixed;
    right: 50px;
    bottom: -50px;
    left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    @include glass-effect;
    z-index: 2;
    animation: revealFooter 1s forwards;
}

@keyframes revealFooter {
    to {
        bottom: 0;
    }
}

.copyright,
.privacy {
    font-size: clamp(12px, 1.5vw, 16px);
    font-weight: 300;
    color: var(--semi-tp-50);
}

@media screen and (width < 1000px) {
    .footer {
        right: 25px;
        bottom: -25px;
        left: 25px;
        height: 25px;
    }
}
