@import "./../../mixins";

.awaiting {
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 1;
    width: calc(50% - 100px);
    text-align: right;
    color: var(--color);
    font-weight: 300;
    animation: animateAwaiting 1s infinite;
}

@keyframes animateAwaiting {
    50% {
        opacity: 0.5;
    }
}

.pg-section {
    position: fixed;
    @include top-right-bottom-left(0, 100px, 0, 100px);
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    z-index: 1;
}

.pg-project {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    opacity: 0;
    transform: translateY(50px);
}

.pg-project:not(:nth-last-of-type(1)) {
    border-bottom: 1px solid var(--semi-tp-50);
}

@keyframes revealPgProject {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.pg-project__number {
    font-size: 24px;
    font-weight: 300;
    color: var(--color);
}

.pg-project__right-side {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.pg-project__title {
    color: var(--color);
    font-size: 24px;
    font-weight: 300;
}

.pg-project__links-list {
    @include flex-center;
    column-gap: 25px;
}

.pg-project__link {
    color: var(--color);
    transition: opacity 150ms;
}

.pg-project__link:hover {
    opacity: 0.5;
}

.link--none {
    display: none;
}

@media screen and (width < 1000px) {
    .awaiting {
        right: 50px;
        bottom: 50px;
        left: 50px;
        width: calc(100% - 100px);
    }

    .pg-section {
        @include top-right-bottom-left(0, 50px, 0, 50px);
        padding: 50px 0;
    }

    .pg-project {
        transform: translateY(25px);
    }
}
