.awaiting {
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 1;
    width: calc(50% - 100px);
    text-align: right;
    color: var(--color);
    font-weight: 300;
    animation: animateAwaiting 1s infinite;
}

@keyframes animateAwaiting {
    50% {
        opacity: 0.5;
    }
}

.playground {
    position: fixed;
    right: 100px;
    top: 0;
    bottom: 0;
    padding: 100px 0;
    width: calc(50% - 100px);
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    overflow-y: scroll;
    z-index: 1;
}

.pg-project {
    position: relative;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    opacity: 0;
    transform: translateY(50px);
}

/* .playground-project:nth-of-type(1) {
    animation: revealProject 1s forwards;
}

.playground-project:nth-of-type(2) {
    animation: revealProject 1s 0.1s forwards;
}

.playground-project:nth-of-type(3) {
    animation: revealProject 1s 0.2s forwards;
}

.playground-project:nth-of-type(4) {
    animation: revealProject 1s 0.3s forwards;
}

.playground-project:nth-of-type(5) {
    animation: revealProject 1s 0.4s forwards;
}

.playground-project:nth-of-type(6) {
    animation: revealProject 1s 0.5s forwards;
}

.playground-project:nth-of-type(7) {
    animation: revealProject 1s 0.6s forwards;
} */

@keyframes revealPgProject {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.playground-project__number {
    font-size: 24px;
    font-weight: 300;
    color: var(--color);
}

.playground-info-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.playground-project__title {
    color: var(--color);
    font-size: 24px;
    font-weight: 300;
}

.pg-project__links-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.pg-project__link {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    color: var(--color);
    transition: opacity 0.15s;
}

.pg-project__link:hover {
    opacity: 0.5;
}

.link__title-container {
    display: grid;
    justify-content: flex-end;
    overflow: hidden;
    grid-template-columns: 0fr;
    transition: grid-template-columns 1s;
}

.link__title-container p {
    overflow: hidden;
    /*  */
    white-space: nowrap;
    /*  */
}

.pg-project__link:hover .link__title-container {
    grid-template-columns: 1fr;
}

.link--none {
    display: none;
}

@media screen and (width < 1000px) {
    .awaiting {
        right: 50px;
        bottom: 50px;
        left: 50px;
        width: calc(100% - 100px);
    }

    .playground {
        padding: 50px 0;
        right: 50px;
        left: 50px;
        width: calc(100% - 100px);
        row-gap: 25px;
    }
}
