.skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--semi-transparent-10);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    opacity: 0;
    scale: 0.5;
}

@keyframes revealSkillContainer {
    to {
        opacity: 1;
        scale: 1;
    }
}

.skill {
    display: grid;
    place-items: center;
}

.skill i {
    font-size: clamp(2em, 3vw, 3em);
    color: var(--color);
}

.img-icon {
    width: 35%;
}
