#custom-cursor {
    position: fixed;
    /*  */
    top: -100px;
    /*  */
    z-index: 5;
    display: none;
    /*  */
    background-color: white;
    /*  */
    width: 10px;
    aspect-ratio: 1 / 1;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    pointer-events: none;
    /*  */
    mix-blend-mode: difference;
    /*  */
    transition: width 0.3s, height 0.3s;
}

.cursor--active {
    width: 100px !important;
}
