#custom-cursor {
    display: none;
    position: fixed;
    background-color: var(--active-color);
    width: 10px;
    height: 10px;
    /*  */
    top: -100px;
    /*  */
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 5;
    border-radius: 50%;
    transition: width 0.3s, height 0.3s;
    pointer-events: none;
}

.active-cursor {
    background-color: var(--active-color);
    width: 100px !important;
    height: 100px !important;
}

#circle {
    display: none;
    position: fixed;
    width: 75px;
    height: 75px;
    border: 2px solid var(--semi-transparent-50);
    /*  */
    top: -100px;
    /*  */
    transform: translate(-50%, -50%);
    z-index: 4;
    border-radius: 50%;
    transition: all 0.1s;
    pointer-events: none;
}
