.project-container {
    position: relative;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    opacity: 0;
    transform: translateY(50px);
    cursor: pointer;
}

.project-container:not(:nth-last-of-type(1)) {
    border-bottom: 1px solid var(--semi-tp-50);
}

.project-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.project-container:hover {
    .project-number {
        opacity: 0.5;
    }
}

.project-container:hover {
    .project-title {
        opacity: 0.5;
    }
}

.project-container:hover {
    .project-production {
        opacity: 0.5;
    }
}

@keyframes revealProjectContainer {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.project-number,
.project-title {
    font-size: clamp(24px, 4vw, 32px);
    font-weight: 300;
    color: var(--color);
    transition: opacity 0.15s;
    pointer-events: none;
}

.project-production {
    color: var(--semi-tp-50);
    font-weight: 300;
    font-size: clamp(12px, 2vw, 14px);
    transition: opacity 0.15s;
    pointer-events: none;
}

@media (max-width: 1000px) {
    .project-container {
        transform: translateY(25px);
    }
}
