.project-container {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    opacity: 0;
    transform: translateY(50px);
    cursor: pointer;
}

.project-container:hover .project-number {
    opacity: 0.5;
}

.project-container:hover .project-title {
    opacity: 0.5;
}

.project-container:hover .project-production {
    opacity: 0.5;
}

.project-container:hover .project-title-name {
    opacity: 0.5;
}

.new-page {
    position: fixed;
    top: 50px;
    right: 50px;
    bottom: 50px;
    left: 50px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--bg-semi-tp-50); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: var(--bg-semi-tp-50);
    /* scale: 0.75; */
    opacity: 0;
    /* pointer-events: none; */
    /* animation: revealNewPage 0.5s forwards; */
    transition: opacity 0.25s ease;
}

.frame {
    width: 50%;
    opacity: 0;
    animation: revealCloseBtn 0.5s 0.25s forwards;
}

.new-page--active {
    /* backdrop-filter: blur(10px); */
    /* -webkit-backdrop-filter: blur(10px); */
    /* background-color: var(--bg-semi-tp-50); */
    /* scale: 1; */
    opacity: 1;
    /* pointer-events: all; */
}

.close-btn {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 16px;
    color: var(--color);
    opacity: 0;
    animation: revealCloseBtn 0.5s 0.25s forwards;
}

@keyframes revealCloseBtn {
    to {
        opacity: 1;
    }
}

.github-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--color);
}

.livesite-link {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--color);
}

.project-container:not(.project-container:nth-last-of-type(1)) {
    border-bottom: 1px solid var(--semi-tp-50);
}

@keyframes revealProjectContainer {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.project-left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}
.project-production {
    color: var(--color);
    font-weight: 200;
    font-size: 12px;
    transition: opacity 0.15s;
}

.project-number,
.project-title {
    font-size: clamp(24px, 4vw, 36px);
    font-weight: 300;
    color: var(--color);
    transition: opacity 0.15s;
}

.project-right-section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.project-title-name {
    color: var(--color);
    font-weight: 200;
    font-size: clamp(12px, 3vw, 16px);
    transition: opacity 0.15s;
}

.project-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    color: var(--color);
    font-size: clamp(14px, 2vw, 16px);
}

.project-links__list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.project-links__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    color: var(--color);
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 300;
    transition: opacity 0.15s;
}

.project-links__list a:hover {
    opacity: 0.5;
}

/* Hide Live demo in first project */
.link--none {
    display: none;
}

@media screen and (width < 1000px) {
    .project-container {
        transform: translateY(25px);
    }

    .project-right-section {
        flex-direction: column;
        align-items: flex-end;
    }

    .new-page {
        top: 25px;
        right: 25px;
        bottom: 25px;
        left: 25px;
    }

    .close-btn {
        top: 25px;
        left: 25px;
    }

    .frame {
        width: 75%;
    }
}
