.project {
    position: relative;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    opacity: 0;
    transform: translateY(50px);
    cursor: pointer;

    &:not(:nth-last-of-type(1)) {
        border-bottom: 1px solid var(--semi-tp-50);
    }

    div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
    }
}

@keyframes revealProject {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.project:hover {
    .project__number {
        opacity: 0.5;
    }
}

.project:hover {
    .project__production {
        opacity: 0.5;
    }
}

.project:hover {
    .project__title {
        opacity: 0.5;
    }
}

.project__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.project__number,
.project__title {
    font-size: clamp(24px, 4vw, 32px);
    font-weight: 300;
    color: var(--color);
    transition: opacity 0.15s;
    pointer-events: none;
}

.project__production {
    color: var(--semi-tp-50);
    font-weight: 300;
    font-size: clamp(12px, 2vw, 14px);
    transition: opacity 0.15s;
    pointer-events: none;
}

@media (max-width: 1000px) {
    .project {
        transform: translateY(25px);
    }
}
