.project-container {
    position: relative;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    opacity: 0;
    transform: translateY(50px);
    cursor: pointer;
}

.nava {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.project-container:hover .project-number {
    opacity: 0.5;
}

.project-container:hover .project-title {
    opacity: 0.5;
}

.project-container:hover .project-production {
    opacity: 0.5;
}

.project-container:hover .project-title-name {
    opacity: 0.5;
}

@keyframes revealCloseBtn {
    to {
        opacity: 1;
    }
}

.project-container:not(.project-container:nth-last-of-type(1)) {
    border-bottom: 1px solid var(--semi-tp-50);
}

@keyframes revealProjectContainer {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.project-number {
    font-size: clamp(24px, 4vw, 32px);
    font-weight: 300;
    color: var(--color);
    transition: opacity 0.15s;
    pointer-events: none;
}

.project-production {
    color: var(--color);
    font-weight: 200;
    font-size: clamp(12px, 2vw, 14px);
    transition: opacity 0.15s;
    pointer-events: none;
}

.project__right-side {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-end;
}

.project-title {
    font-size: clamp(24px, 4vw, 32px);
    font-weight: 200;
    color: var(--color);
    transition: opacity 0.15s;
    pointer-events: none;
}

.project-title-name {
    color: var(--color);
    font-weight: 100;
    font-size: clamp(12px, 3vw, 16px);
    transition: opacity 0.15s;
    pointer-events: none;
}

.project-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    color: var(--color);
    font-size: clamp(14px, 2vw, 16px);
}

.project-links__list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.project-links__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    color: var(--color);
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 300;
    transition: opacity 0.15s;
}

.project-links__list a:hover {
    opacity: 0.5;
}

@media screen and (width < 1000px) {
    .project-container {
        transform: translateY(25px);
    }
}
