.footer {
    position: fixed;
    right: 50px;
    bottom: -50px;
    left: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
    z-index: 2;
    animation: revealFooter 1s forwards;
}

@keyframes revealFooter {
    to {
        bottom: 0;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
}

.copyright {
    font-size: clamp(12px, 1.5vw, 16px);
    font-weight: 300;
    color: var(--semi-transparent-50);
}

@media screen and (width < 1000px) {
    .footer {
        right: 25px;
        bottom: -25px;
        left: 25px;
        height: 25px;
    }
}
