.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    z-index: 98;
}

.creator {
    margin: 0 0 0 50px;
    font-size: clamp(12px, 1vw, 16px);
    font-weight: 300;
    color: var(--semi-transparent-50);
    opacity: 0;
    transition: color 1s;
    animation: reveal 1s forwards;
}

.rights {
    margin: 0 50px 0 0;
    font-size: clamp(12px, 1vw, 16px);
    font-weight: 300;
    color: var(--semi-transparent-50);
    opacity: 0;
    transition: color 1s;
    animation: reveal 1s forwards;
}

@keyframes reveal {
    to {
        opacity: 1;
    }
}

@media screen and (width < 1000px) {
    .footer {
        height: 25px;
    }

    .creator {
        margin: 0 0 0 25px;
    }

    .rights {
        margin: 0 25px 0 0;
    }
}
