.skills-container {
    position: fixed;
    top: 0;
    right: 100px;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 100px 0;
    overflow-y: scroll;
    width: calc(50% - 100px);
}

@media screen and (width < 1000px) {
    .skills-container {
        right: 50px;
        left: 50px;
        padding: 50px 0;
        width: calc(100% - 100px);
    }
}
