@mixin glass-effect {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin top-right-bottom-left($top, $right, $bottom, $left) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin bg-color-text-effect {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
