/* Reset */
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

::before,
::after {
    box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button,
input {
    font-family: inherit;
    border: none;
    background-color: transparent;
}

button {
    cursor: pointer;
}
