:root {
    --bg-clr: #000;
    --bg-clr-light: #fff;
    --bg-clr-dark: #000;

    --txt-clr: #fff;
    --txt-clr-light: #fff;
    --txt-clr-dark: #000;

    --semi-tp-05: rgba(0, 0, 0, 0.05);
    --semi-tp-05-light: rgba(255, 255, 255, 0.05);
    --semi-tp-05-dark: rgba(0, 0, 0, 0.05);

    --semi-tp-10: rgba(0, 0, 0, 0.1);
    --semi-tp-10-light: rgba(255, 255, 255, 0.1);
    --semi-tp-10-dark: rgba(0, 0, 0, 0.1);

    --semi-tp-25: rgba(0, 0, 0, 0.25);
    --semi-tp-25-light: rgba(255, 255, 255, 0.25);
    --semi-tp-25-dark: rgba(0, 0, 0, 0.25);

    --semi-tp-50: rgba(0, 0, 0, 0.5);
    --semi-tp-50-light: rgba(255, 255, 255, 0.5);
    --semi-tp-50-dark: rgba(0, 0, 0, 0.5);

    --bg-semi-tp-50: rgba(255, 255, 255, 0.5);
    --bg-semi-tp-50-light: rgba(255, 255, 255, 0.5);
    --bg-semi-tp-50-dark: rgba(0, 0, 0, 0.5);
}
