@import "fonts";
@import "reset";
@import "variables";

body {
    width: 100%;
    height: 100dvh;
    font-family: "Inter", sans-serif;
    overflow: hidden;
    background-color: var(--bg-color);
}

#root {
    width: 100%;
    height: 100dvh;
}

.wrapper {
    display: none;
}
