@import "fonts";
@import "reset";
@import "variables";

body {
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
    overflow: hidden;
}

#root {
    height: 100dvh;
}

.wrapper {
    display: none;
}
