@use "fonts" as *;
@use "reset" as *;
@use "variables" as *;

body {
    font-family: "Inter", sans-serif;
    background-color: var(--bg-clr);
    overflow: hidden;
    color: var(--txt-clr);
    transition: background-color 0.3s;
}

#root {
    height: 100dvh;
}

.wrapper {
    display: none;
}
