@use "./../../mixins" as *;

.header {
    position: fixed;
    top: 0;
    right: 50px;
    left: 50px;
    height: 50px;
    @include glass-effect;
    z-index: 1;
}

@media (max-width: 1000px) {
    .header {
        right: 25px;
        left: 25px;
        height: 25px;
    }
}
