@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

.game {
    font-family: "Silkscreen", sans-serif;
    position: absolute;
    top: 100px;
    right: 100px;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: calc(50% - 100px);
    opacity: 0;
    /* background-color: var(--semi-transparent-50); */
    z-index: 1;
    animation: reveal 1s forwards;
}

@keyframes reveal {
    to {
        opacity: 1;
    }
}

.game__lives {
    color: var(--color);
}

section {
    display: grid;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: repeat(4, 6rem);
    gap: 0.5rem;
    perspective: 800px;
}

.game__play-btn {
    position: relative;
    color: var(--color);
    padding: 5px;
    transition: color 0.25s ease-out;
}

.game__play-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    background-color: var(--color);
    transition: transform 0.25s ease-out;
    transform-origin: bottom left;
    z-index: -1;
}

.game__play-btn:hover {
    color: var(--bg-color);
}

.game__play-btn:hover::before {
    transform: scaleX(1);
}

.inactive-btn {
    opacity: 0.5;
    pointer-events: none;
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    transform-style: preserve-3d;
    /*  */
    /*  */
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /*  */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.face {
    position: absolute;
    width: 50%;
    height: 50%;
    pointer-events: none;
    transform: rotateY(-180deg);
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    backface-visibility: hidden;
    pointer-events: none;
}

.card-top-left-corner {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 15px;
    height: 15px;
    border-top: 5px solid black;
    border-left: 5px solid black;
}

.card-top-right-corner {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    border-top: 5px solid black;
    border-right: 5px solid black;
}

.card-bottom-right-corner {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

.card-bottom-left-corner {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 15px;
    height: 15px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

.toggle-card {
    transform: rotateY(180deg);
}

@media screen and (width < 1000px) {
    .game {
        top: 50px;
        right: 50px;
        bottom: 50px;
        left: 50px;
        width: calc(100% - 100px);
    }
}
