:root {
  /* CHARCOAL GRAY */
  --main-background: #171717;
  /* OFF WHITE */
  --color: #faf9f6;
  --semi-transparent-color: rgba(255, 255, 255, 0.5);
  --glass-background: rgba(255, 255, 255, 0.25);
}
