.skills-section {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100px;
    left: 100px;
    z-index: 1;
    padding: 100px 0;
    overflow-y: scroll;
}

.skills {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
}

@media screen and (width < 1200px) {
    .skills {
        grid-template-columns: repeat(9, 1fr);
    }
}

@media screen and (width < 1100px) {
    .skills {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media screen and (width < 1000px) {
    .skills-section {
        right: 50px;
        left: 50px;
        padding: 50px 0;
    }

    .skills {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media screen and (width < 900px) {
    .skills {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (width < 800px) {
    .skills {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (width < 700px) {
    .skills {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (width < 400px) {
    .skills {
        grid-template-columns: repeat(3, 1fr);
    }
}
