.skills-section {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100px;
    left: 100px;
    z-index: 1;
    padding: 100px 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tree-level1 .skill-container:nth-child(1) {
    animation: revealSkillContainer 1s forwards;
}

.tree-level2 .skill-container:nth-child(1),
.tree-level2 .skill-container:nth-child(2),
.tree-level2 .skill-container:nth-child(3) {
    animation: revealSkillContainer 1s 0.5s forwards;
}

.tree-level3 .skill-container:nth-child(1),
.tree-level3 .skill-container:nth-child(2) {
    animation: revealSkillContainer 1s 1s forwards;
}

.tree-level4 .skill-container:nth-child(1),
.tree-level4 .skill-container:nth-child(2) {
    animation: revealSkillContainer 1s 1.5s forwards;
}

.tree-level5 .skill-container:nth-child(1) {
    animation: revealSkillContainer 1s 2s forwards;
}

.tree-level6 .skill-container:nth-child(1),
.tree-level6 .skill-container:nth-child(2) {
    animation: revealSkillContainer 1s 2.5s forwards;
}

.tree-level7 .skill-container:nth-child(1),
.tree-level7 .skill-container:nth-child(2),
.tree-level7 .skill-container:nth-child(3) {
    animation: revealSkillContainer 1s 3s forwards;
}

@keyframes revealSkillContainer {
    to {
        opacity: 1;
        scale: 1;
    }
}

.tree-level2,
.tree-level7 {
    gap: 50px;
}

.tree-level3,
.tree-level4,
.tree-level6 {
    gap: 200px;
}

.line-1 {
    position: relative;
    width: 300px;
    height: 5px;
    background-color: var(--semi-tp-50);
    flex-shrink: 0;
    opacity: 0;
    animation: reveal 1s forwards;
}

.line-1::before {
    position: absolute;
    content: "";
    left: -5px;
    width: 5px;
    height: 30px;
    background-color: var(--semi-tp-50);
    flex-shrink: 0;
    opacity: 0;
    animation: reveal 1s forwards;
}

.line-1::after {
    position: absolute;
    content: "";
    right: -5px;
    width: 5px;
    height: 30px;
    background-color: var(--semi-tp-50);
    flex-shrink: 0;
    opacity: 0;
    animation: reveal 1s forwards;
}

.line-2 {
    position: relative;
    width: 300px;

    height: 5px;
    background-color: var(--semi-tp-50);
    flex-shrink: 0;
    opacity: 0;
    animation: reveal 1s forwards;
}

.extra-line {
    background-color: transparent;
}

.line-2::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
    width: 5px;
    height: 60px;
    background-color: var(--semi-tp-50);
    flex-shrink: 0;
    opacity: 0;
    animation: reveal 1s forwards;
}

.line-2::after {
    position: absolute;
    content: "";
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 60px;
    background-color: var(--semi-tp-50);
    flex-shrink: 0;
    opacity: 0;
    animation: reveal 1s forwards;
}

.line-3 {
    position: relative;
    width: 300px;
    height: 5px;
    background-color: var(--semi-tp-50);
    flex-shrink: 0;
    opacity: 0;
    animation: reveal 1s forwards;
}

.line-3::before {
    position: absolute;
    content: "";
    left: -5px;

    transform: translateY(calc(-100% + 5px));

    width: 5px;
    height: 30px;
    background-color: var(--semi-tp-50);
    flex-shrink: 0;
    opacity: 0;
    animation: reveal 1s forwards;
}

.line-3::after {
    position: absolute;
    content: "";
    right: -5px;
    /* top: 0; */
    transform: translateY(calc(-100% + 5px));
    width: 5px;
    height: 30px;
    background-color: var(--semi-tp-50);
    flex-shrink: 0;
    opacity: 0;
    animation: reveal 1s forwards;
}

.left-line {
    height: 25px;
    width: 5px;
    background-color: var(--semi-tp-50);
    flex-shrink: 0;
    opacity: 0;
    animation: reveal 1s forwards;
}

.left-line-2 {
    height: 25px;
    width: 5px;
    background-color: transparent;
    flex-shrink: 0;
    opacity: 0;
    animation: reveal 1s forwards;
}

.right-line {
    height: 25px;
    width: 5px;
    background-color: var(--semi-tp-50);
    flex-shrink: 0;
    opacity: 0;
    animation: reveal 1s forwards;
}

.right-line-2 {
    height: 25px;
    width: 5px;
    background-color: transparent;
    flex-shrink: 0;
    opacity: 0;
    animation: reveal 1s forwards;
}

@keyframes reveal {
    to {
        opacity: 1;
    }
}

@media screen and (width < 1000px) {
    .skills-section {
        right: 50px;
        left: 50px;
        padding: 50px 0;
    }

    .tree-level2,
    .tree-level7 {
        gap: 25px;
    }

    .tree-level3,
    .tree-level4,
    .tree-level6 {
        gap: 125px;
    }

    .line-1 {
        width: calc(200px - 5px);
    }

    .line-1::before {
        position: absolute;
        content: "";
        left: -5px;
        width: 5px;
        height: 30px;
        background-color: var(--semi-tp-50);
        flex-shrink: 0;
    }

    .line-1::after {
        position: absolute;
        content: "";
        right: -5px;
        width: 5px;
        height: 30px;
        background-color: var(--semi-tp-50);
        flex-shrink: 0;
    }

    .line-2 {
        width: calc(200px - 5px);
    }

    .line-2::before {
        position: absolute;
        content: "";
        top: 50%;
        left: -5px;
        transform: translateY(-50%);
        width: 5px;
        height: 55px;
        background-color: var(--semi-tp-50);
        flex-shrink: 0;
    }

    .line-2::after {
        position: absolute;
        content: "";
        right: -5px;
        top: 50%;
        transform: translateY(-50%);
        width: 5px;
        height: 55px;
        background-color: var(--semi-tp-50);
        flex-shrink: 0;
    }

    .line-3 {
        width: calc(200px - 5px);
    }

    .line-3::before {
        position: absolute;
        content: "";
        left: -5px;

        transform: translateY(calc(-100% + 5px));

        width: 5px;
        height: 30px;
        background-color: var(--semi-tp-50);
        flex-shrink: 0;
    }

    .line-3::after {
        position: absolute;
        content: "";
        right: -5px;
        /* top: 0; */
        transform: translateY(calc(-100% + 5px));
        width: 5px;
        height: 30px;
        background-color: var(--semi-tp-50);
        flex-shrink: 0;
    }

    .left-line {
        height: 25px;
        width: 5px;
        background-color: var(--semi-tp-50);
        flex-shrink: 0;
    }

    .left-line-2 {
        height: 25px;
        width: 5px;
        background-color: transparent;
        flex-shrink: 0;
    }

    .right-line {
        height: 25px;
        width: 5px;
        background-color: var(--semi-tp-50);
        flex-shrink: 0;
    }

    .right-line-2 {
        height: 25px;
        width: 5px;
        background-color: transparent;
        flex-shrink: 0;
    }
}
