@use "./../../mixins" as *;

.portfolio {
    position: fixed;
    @include top-right-bottom-left(0, 100px, 0, 100px);
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    overflow-y: scroll;
}

@media (max-width: 1000px) {
    .portfolio {
        padding: 50px 0;
        @include top-right-bottom-left(0, 50px, 0, 50px);
    }
}
