.about {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
    left: 100px;
    z-index: 1;
    text-align: center;
    color: var(--color);
    font-size: clamp(12px, 4vw, 30px);
    font-weight: 300;
}

@media (max-width: 1000px) {
    .about {
        right: 50px;
        left: 50px;
    }
}
