.about {
    position: fixed;
    right: 100px;
    bottom: 100px;
    width: calc(50% - 100px);
    text-align: right;
    color: var(--color);
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 300;
    opacity: 0;
    z-index: 1;
    animation: reveal 1s forwards;
}

@keyframes reveal {
    to {
        opacity: 1;
    }
}

@media screen and (width < 1000px) {
    .about {
        right: 50px;
        bottom: 50px;
        left: 50px;
        width: calc(100% - 100px);
    }
}
