@use "./../../global/InfiniteScroller.scss";
@use "./../../mixins" as *;

.games {
    position: fixed;
    @include top-right-bottom-left(0, 100px, 0, 100px);
    z-index: 1;
    padding: 100px 0;
    font-family: "Silkscreen", sans-serif;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    opacity: 0;
    animation: reveal 1s forwards;
}

@keyframes reveal {
    to {
        opacity: 1;
    }
}

.games-section__pagination {
    position: fixed;
    @include top-right-bottom-left(50%, 50px, "", "");
    transform: translateY(-50%);
    @include flex-center;
    flex-direction: column;
    row-gap: 10px;
    opacity: 0;
    animation: reveal 1s forwards;
}

.games-section__pagination {
    span {
        width: 5px;
        height: 25px;
        background: var(--semi-tp-50);
        cursor: pointer;
    }
}

.active {
    background: var(--color) !important;
}

.game-wrapper {
    width: 100%;
    height: 100%;
    @include flex-center;
    scroll-snap-align: center;
    perspective: 700px;
}

.game-container {
    position: relative;
    width: 300px;
    aspect-ratio: 1 / 1;
    transform-style: preserve-3d;
    --tiltX: 0deg;
    --tiltY: 0deg;
    background: var(--bg-semi-tp-50);
    transform: rotateY(var(--tiltY)) rotateX(var(--tiltX));
    transition: transform 0.1s;
}

.game-container::before {
    position: absolute;
    content: "";
    inset: 0rem;
    background: rgba(0, 0, 0, 0.25);
    opacity: 0;
    filter: blur(0);
    transform: translateZ(-49px);
    transition: all 0.3s;
}

.game-wrapper:hover {
    .game-container::before {
        inset: 0.75rem;
        opacity: 1;
        filter: blur(10px);
        transition: all 0.3s;
    }
}

.game-container::after {
    position: absolute;
    content: "";
    background: linear-gradient(-90deg, #43c6ac, #f8ffae);
    inset: -1.25rem;
    transform: translateZ(-50px);
}

.game-wrapper:nth-last-child(1) {
    .game-container::after {
        background: linear-gradient(-90deg, #333399, #ff00cc);
    }
}

.game-container__header {
    position: absolute;
    @include top-right-bottom-left(0, 0, "", 0);
    height: 60px;
    @include flex-center;
    column-gap: 20px;
    margin: 0 20px;
}

.game-container__number {
    color: var(--color);
    font-size: 34px;
}

.game-container__title {
    color: var(--color);
    font-size: 24px;
}

.game-container__start-btn {
    position: absolute;
    @include top-right-bottom-left("", 10px, 10px, "");
    color: var(--color);
    font-size: 24px;
}

.inactive-btn {
    pointer-events: none;
}

@media (max-width: 1000px) {
    .games {
        @include top-right-bottom-left(0, 50px, 0, 50px);
        padding: 50px 0;
    }

    .games-section__pagination {
        @include top-right-bottom-left(50%, 25px, "", "");
    }

    .game-container {
        width: 190px;
    }

    .game-container__header {
        height: 50px;
        column-gap: 10px;
        margin: 0 10px;
    }

    .game-container__title,
    .game-container__start-btn {
        font-size: 16px;
    }

    .game-container__number {
        font-size: 26px;
    }
}
