.nav {
  position: fixed;
  left: -25px;
  top: 25px;
  bottom: 25px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 101;
  animation: revealNav 1s forwards;
}

@keyframes revealNav {
  to {
    left: 0;
  }
}

.nav__list {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  height: 0;
  overflow: hidden;
  color: white;
  transition: height 0.5s;
  justify-content: left;
  align-items: center;
  gap: 10px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: -2px;
  overflow-y: auto;
}

/* WHEN TOGGLE BURGER BTN */
.nav__list--active {
  height: 449.2px !important;
}

.nav__link {
  font-size: 12px;
  color: var(--color);
  font-weight: 300;
  padding: 0;
  transition: color 1s;
}

.nav__link--active {
  text-decoration: 2px line-through var(--active-color);
}

@media screen and (width > 1000px) {
  .nav {
    top: 50px;
    bottom: 50px;
    z-index: 99;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    position: fixed;
    /*  */
    left: -100px;
    /*  */
    animation: revealNav 1s forwards;
    writing-mode: initial;
    gap: 0;
    text-orientation: initial;
    letter-spacing: normal;
  }
  @keyframes revealNav {
    to {
      left: 50px;
    }
  }
  .nav__link {
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
    cursor: crosshair;
  }
}
