.portfolio-container {
  position: fixed;
  right: 75px;
  top: 0;
  bottom: 0;
  padding: 75px 0;
  width: calc(50% - 75px);
  overflow-y: scroll;
  /* opacity: 0; */
  /* animation: revealPortfolioContainer 1s forwards; */
}

/* @keyframes revealPortfolioContainer {
  to {
    opacity: 1;
  }
} */

@media screen and (width < 1000px) {
  .portfolio-container {
    padding: 50px 0;
    right: 50px;
    left: 50px;
    width: calc(100% - 100px);
  }
}
